Source: electrum
Maintainer: Debian Bitcoin Packaging Team <pkg-bitcoin-devel@lists.alioth.debian.org>
Uploaders: Tristan Seligmann <mithrandi@debian.org>
Section: utils
Priority: optional
Build-Depends:
 debhelper (>= 9),
 devscripts,
 dh-python,
 pyqt4-dev-tools,
 python,
 python-ecdsa,
 python-qt4,
 python-setuptools,
 python-slowaes,
Standards-Version: 3.9.7
Vcs-Browser: https://anonscm.debian.org/git/pkg-bitcoin/electrum.git
Vcs-Git: https://anonscm.debian.org/git/pkg-bitcoin/electrum.git
Homepage: http://electrum.org/
X-Python-Version: >= 2.6

Package: python-electrum
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}
Breaks: electrum (<= 2.3.1~)
Replaces: electrum
Description: Easy to use Bitcoin client - Python module
 This package provides a lightweight Bitcoin client which protects
 you from losing your bitcoins in a backup mistake or computer
 failure. Also, Electrum does not require waiting time because it does
 not download the Bitcoin blockchain.
 .
 This package provides the "electrum" Python module which can be used to access
 a Bitcoin wallet from Python programs.

Package: electrum
Architecture: all
Depends:
 python-electrum (= ${binary:Version}),
 ${misc:Depends},
 ${python:Depends},
Recommends: python-qt4
Suggests: python-btchip, python-trezor, python-zbar
Description: Easy to use Bitcoin client
 This package provides a lightweight Bitcoin client which protects
 you from losing your bitcoins in a backup mistake or computer
 failure. Also, Electrum does not require waiting time because it does
 not download the Bitcoin blockchain.
 .
 Features of Electrum:
 .
   * Instant on: Your client does not download the blockchain. It uses a
     network of specialized servers that index the blockchain.
   * Forgiving: Your wallet can be recovered from a secret seed.
   * Safe: Your seed and private keys are encrypted on your hard drive.
     They are never sent to the servers.
   * Low trust: Information received from the servers is verified using
     SPV. Servers are authenticated using SSL.
   * No downtimes: Your client is not tied to a particular server; it
     will switch instantly if your server is down.
   * Ubiquitous: You can use the same wallet on different computers, they
     will synchronize automatically.
   * Cold Storage: Sign transactions from a computer that is always
     offline. Broadcast them using a machine that does not have your keys.
   * Reachable: You can export your private keys into other Bitcoin
     clients.
   * Established: Electrum is open source and was first released in
     November 2011.
