#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/upstream-tarball.mk

include /usr/share/cdbs/1/class/python-distutils.mk


DEB_UPSTREAM_PACKAGE = Electrum
DEB_UPSTREAM_TARBALL_BASENAME = ${DEB_UPSTREAM_PACKAGE}-${DEB_UPSTREAM_VERSION}
DEB_UPSTREAM_TARBALL_EXTENSION = tar.gz

DEB_UPSTREAM_URL = http://download.electrum.org/download
DEB_UPSTREAM_TARBALL_MD5 = 9ed7ae90c792828c1f0546751f3131bd

package = electrum
python_module = python-$(package)


# dependency
electrum_depends = python-ecdsa, python-slowaes

# CDBS build depends
CDBS_BUILD_DEPENDS += , $(electrum_depends)

# Suppress unneeded build-dependencies
CDBS_BUILD_DEPENDS_class_python-distutils_python =

# dependency
CDBS_DEPENDS_$(python_module) = $(electrum_depends)

# Move aes and ecdsa from build directory to let package link against
# the python-ecdsa and python-slowaes
DEB_UPSTREAM_CRUFT_MOVE = ecdsa aes

# Ignore graphics and .mo files in addition to the default debian files
DEB_COPYRIGHT_CHECK_IGNORE_REGEX = ^(locale/.*/.*\.mo|data/dark/.*\.png|icons/.*\.png|LICENSE|debian/(changelog|copyright(|_hints|_newhints)))$

